bin/
obj/
*.user
*.vs/
.vscode/
.idea/
*.suo
*.userosscache
*.sln.docstates
*.log
logs/
*.swp
*.temp
*.tmp
*.cache
*.pid
.publish/
.vs/
*.suo
*.cache
*.userprefs
.config/
PublishProfiles/
wwwroot/*
!wwwroot/EmailTemplates/
!wwwroot/EmailTemplates/**
Logs/